{% extends 'base.html' %}
{% block title %}Dashboard{% endblock %}

{% block head %}
    <style>
    body {
        overflow-y:hidden;
    }
    </style>
{% endblock %}

{% block body %}
    <div class="container-fluid bg-dark">
        <div class="row">
            <div class="col">
                <!-- Content -->
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                    <a class="navbar-brand" href="/">Environment Monitoring</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item" id="homeLink">
                                <a class="nav-link" href="/">Home </a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Sensors</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="/sensors?do=create" id="createSensorLink">Create Sensor</a>
                                    <a class="dropdown-item" href="/sensors?do=list" id="listSensorLink">List Sensors</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        {% block dashboardContent %}{% endblock %}
    </div>
{% endblock %}